<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/images/cards/supercharge.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Memory Game
  </a>
</nav>
<div *ngIf="state$ | async as state">
  <p>current tries:{{state.tries}}</p>
  <p>best:{{state.best}}</p>
  <button (click)="Restart()">Restart</button>
  <div class="card-deck">
    <app-card *ngFor="let card of state.cards; index as i" [card]=card [i]=i></app-card>
  </div>

</div>